@import 'shared';

.App {
  text-align: center;
  background: $gray-f;
  text-align: left;
  font-size: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: $gray-1;
}

.AlertConfig {
  background: white;
  border: 1px solid $gray-e;
  border-radius: $border-radius-tight;

  .subheading {
    font-size: 15px;
    line-height: 21px;
    min-height: 18px;
    font-weight: $fw-semibold;
    border-bottom: 1px solid $gray-e;
    padding: 20px 50px 18px;
    position: relative;
  }

  .backArrow {
    background: no-repeat url(/s/img/svg/back-arrow-pink.svg);
    height: 14px;
    width: 14px;
    position: absolute;
    top: 12px;
    left: 22px;
    text-indent: -10000px;

    &:focus {
      outline: none;
    }
  }

  .historyContainer {
    padding: 12px 20px;
    background-color: $gray-f;
    border-bottom: 1px solid $gray-e;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: $gray-3;
    display: none;
    &.visible {
      display: block;
    }
  }

  .settings {
    padding: 20px;

    .groupLabel {
      color: $gray-9;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 10px;
      &.your, &.team {
        margin-bottom: 15px;
      }
      &.team {
        margin-top: 20px;
      }
    }



    >.description {
      textarea {
        border: none;
        outline: none;
        font-size: 13px;
        font-family: $font-base;
        padding: 0;
        width: 100%;
        line-height: 1.6;
        resize: none;
        &::placeholder {
          color: $gray-c;
        }
      }
    }

    >.yourNotificationsHeader {
      display: flex;
      justify-content: space-between;

      >.unsubscribe {
        display: none;
        color: $pink;
        cursor: pointer;
        &.visible {
          display: block;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }

    >.yourNotifications {
      >.subscribe {
        display: none;
        cursor: pointer;
        text-align: center;
        font-size: 13px;
        @include transition(background-color 0.2s ease-out);
        color: #fff;
        background: $pink;
        padding: 10px 20px 9px;
        line-height: 20px;
        margin-left: 0;
        border-radius: $border-radius-tight;

        &.visible {
          display: block;
        }

        &:hover {
          background: #ef4c7f;
        }
      }

      >.channels {
        display: none;
        &.visible {
          display: block;
        }
      }
    }
  }

  .connectSlack {
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    &.hidden {
      display: none;
    }
    .container {
      display: flex;
      .icon {
        background-image: url(/s/img/settings/integration-slack@2x.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 19px;
        height: 19px;
        margin-right: 10px;
      }
      .text {
        margin-top: 2px;
      }
    }
    .button {
      @include no-select;
      cursor: pointer;
      color: $pink;
      border: 1px solid $pink;
      border-radius: $border-radius-tight;
      padding: 5px 10px;
    }
  }

  hr {
    border: 0;
    height: 1px;
    background: $gray-e;
    margin: 20px 0;
  }

  &.showSave {
    .footer {
      padding: 14px 20px;
    }
    .footer>.save,
    .footer>.cancel {
      display: inline-block;
    }
    .footer>span.delete {
      display: none;
    }
  }

  &.saving {
    .footer>.save {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .footer {
    font-size: 13px;
    border-top: 1px solid $gray-e;
    padding: 0;
    color: $gray-9;
    font-weight: $fw-regular;

    &.hide {
      display: none;
    }

    >span, >a, >button {
      display: none;
      position: relative;
      margin: 0 10px;
      cursor: pointer;

      &.cancel {
        &:hover {
          text-decoration: underline;
        }
      }

      &.delete {
        display: block;
        text-align: center;
        padding: 16px;
        line-height: 28px;
        margin: 0;

        &:hover {
          text-decoration: underline;
          color: $pink;
        }
      }

      &.save {
        @include transition(background-color 0.2s ease-out);
        color: #fff;
        background: $pink;
        padding: 6px 20px 5px;
        line-height: 20px;
        margin-left: 0;
        border-radius: $border-radius-tight;

        &:hover {
          background: #ef4c7f;
        }
      }
    }
  }

  .checkbox {
    display: flex;
    justify-content: space-between;
    font-size: 13px;

    &.hidden {
      display: none;
    }

    input[type="checkbox"] {
      outline: none;
      margin-right: 10px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      position: relative;
      top: 1px;
    }

    .label {
      cursor: pointer;
      margin-right: 10px;
    }

    .value {
      opacity: 0.3;
      transition: opacity 0.15s ease-in-out;
      pointer-events: none;
      color: $gray-4;
      position: relative;
      top: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
      &.active {
        opacity: 1;
        pointer-events: inherit;
      }
      select {
        max-width: 140px;
        outline: none;
      }
    }
  }
}

.Vis {
  background-color: $gray-e;
  height: 500px;
  position: relative;

  &:before {
    content: 'SEARCHIE';
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    color: $gray-1;
  }

  .line {
    height: 3px;
    background-color: $pink;
    position: absolute;
    width: 100%;
  }
}

.SearchieActions {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #E4E8EB;
  border-radius: 4px;
  background: #fff;

  &.visible {
    display: flex;
  }

  >.actionButton {
    flex: 1;
    padding: 16px;
    cursor: pointer;
    color: $gray-1;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    display: block;

    &:focus {
      outline: none;
    }

    &.visible {
      display: block;
    }

    &.disabled:hover {
      cursor: default;
    }
  }

  >.actionButton.visible:nth-of-type(2) {
    border-left: 1px solid $gray-e;
  }
}

.SearchieConfig {
  .heading {
    font-size: 15px;
    font-weight: 600;
    padding: 20px 20px 18px;
  }

  .settingsContainer {
    margin-bottom: 16px;
    background: white;
    border: 1px solid $gray-e;
    border-radius: $border-radius-tight;

    &.hide {
      display: none;
    }

    .settings {
      padding: 16px 20px;
    }
  }
}

.alertListContainer {
  display: none;
  background: white;
  border: 1px solid $gray-e;
  border-radius: $border-radius-tight;

  &.visible {
    display: block;
  }

  .subheading {
    display: none;
    text-transform: uppercase;
    background-color: $gray-fc;
    border-bottom: 1px solid $gray-e;
    border-top: 1px solid $gray-e;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: $fw-semibold;
    padding: 12px 20px;
    &.visible {
      display: block;
    }
  }
}

.SearchieSidebarAlert {
  padding: 24px 40px 22px 20px;
  cursor: pointer;
  position: relative;
  display: block;

  &:hover {
    &:after {
      color: $pink;
    }
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $gray-e;
  }

  &:after {
    content: '';
    @extend .chevron;
    @extend .chevron.right;
    height: 6px;
    width: 6px;
    color: $gray-9;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -4px;
  }

  >.headline {
    margin-right: 5px;
    font-size: 13px;
    >.primary {
      font-weight: $fw-medium;
    }
    >.secondary {
      font-weight: $fw-regular;
    }
  }

  >.content {
    font-size: 12px;
    line-height: 18px;
    font-weight: $fw-regular;
    margin-top: 10px;
    &.empty {
      margin-top: 0;
    }

    >.desc,
    >.separator {
      color: $gray-9;
    }
  }
}

.DailyActivesTrendlineConfig {
  font-size: 13px;

  >.modifier,
  >.value {
    text-align: center;
    padding: 5px 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    display: inline-block;
    border-radius: $border-radius-tight;
    margin: 0 3px;
    cursor: pointer;
    -webkit-appearance: none;
    border: none;

    &:focus {
      padding: 4px 7px;
      outline: none;
    }
  }

  >.bold {
    font-weight: $fw-semibold;
  }

  >.modifier {
    background-color: $ligherPink;
    color: $pink;

    &:focus {
      border: 1px solid rgba(255, 192, 203, 0.56);
    }
  }

  >.value {
    background-color: $lightest-blue;
    color: $blue;
    display: inline-block;
    max-width: 50px;
    min-width: 20px;
    text-align: left;

    &:focus {
      border: 1px solid rgba(68, 142, 225, 0.38);
    }
  }

  >.explanation {
    font-weight: $fw-regular;
    font-size: 13px;
    line-height: 1.6;
    font-style: italic;
    margin-top: 10px;
    color: $gray-9;
  }
}

.Searchie {
  background: #fff;
  border-radius: 4px;
  border: 1px solid $gray-e;
}

.title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid $gray-e;
  padding: 12px;
  box-sizing: border-box;
  height: 57px;

  .searchie-icon {
    margin: 0;
    transform: scale(.7);
    position: relative;
    left: -6px;
  }
  .title {
    margin: 0;
  }
}

.searchie-icon {
  background: no-repeat url(/s/img/searchies/searchie-icons.svg);
  background-position: searchie-icon-x-pos(5) center;
  height: 32px;
  width: 48px;
  margin: 0 auto 16px auto;
}

.title {
  color: $text-emphasized;
  font-size: 16px;
  font-weight: $fw-semibold;
  text-align: center;
  margin-bottom: 4px;
}
